 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>By profession I am a <strong><i>full stack web architect</i></strong> leading <a class="site-link" href="https://decabits.com">Decabits</a> & having experience of more than 6 years in scaling web/mobile applications.</p>
                </div>
                <div class="col-lg-4">
                    <p>When I am not working I really doing two things I love - sports & travel. I am a die hard FC Barcelona fan. As for travel, you can checkout my <a class="site-link" href="http://travel.sahilbatla.com">travel blog.</a></p>
                </div>
            </div>
            <div class="row">
                <div style="text-align: center; margin-top:3%;">
                    <p>Reach me at:</p>
                    <a class="site-link" href="mailto:sahilbathla1@gmail.com">sahilbathla1@gmail.com</a><br/>
                    <a class="site-link" href="mailto:info@decabits.com">info@decabits.com</a>
                </div>
            </div>
        </div>
    </section>
