 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>By profession I am a <strong><i>full stack web architect</i></strong> having experience of more than 4 years in web development. If you wish to work with me reach me out at <a href="mailto:sahilbathla1@gmail.com" style="color:white">sahilbathla1@gmail.com</a></p>
                </div>
                <div class="col-lg-4">
                    <p>When I am not working I enjoy doing two things - sports & travel. I am a die hard FC Barcelona fan, a decent table tennis player & a frequent runner. As for travel, you can checkout my <strong><i><a href="http://travel.sahilbatla.com" style="color:white">travel blog</a></i></strong></p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>